body {
  background: #ffffff; }

h1 {
  color: #000000;
  font-style: italic; }

h2 {
  color: red; }

p {
  color: blue; }

p span {
  color: green;
  font-weight: bold;
  text-decoration: underline; }

#contentContainer {
  background: #cfcfcf;
  border: 3px solid #BDD752;
  margin: 0 auto;
  padding: 15px;
  width: 1024px; }
