@font-face {
  font-family: pixelsOfEight;
  src: url('/assets/fonts/pixelsOfEight.eot');
  src: url('/assets/fonts/pixelsOfEight.eot') format('embedded-opentype'),
  url('/assets/fonts/pixelsOfEight.woff') format('woff'),
  url('/assets/fonts/pixelsOfEight.ttf') format('truetype'),
  url('/assets/fonts/pixelsOfEight.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}